.form__calc__box {
    border: 2px solid #F7752A;
    border-radius: 24px;
    padding: 24px;
    width: 628px;
    height: 384px;
    margin-left: 25.5%; 
    margin-bottom: 72px;  
}

.form__calc__box__name {
    font-weight: 700;
    font-size: 39px;
    line-height: 120%;
    color: #F7752A;
    padding-bottom: 24px;
}

.form__calc__box__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    padding-bottom: 24px;
}

.form__calc__box__form__in1 {
    border: 2px solid #DFE2E5;
    border-radius: 38px;
    width: 282px;
    height: 76px;
    outline: none;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%; 
    padding-left: 32px;   
    margin-right: 12px;
}

.form__calc__box__form__in2 {
    border: 2px solid #DFE2E5;
    border-radius: 38px;
    width: 282px;
    height: 76px;
    outline: none;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%; 
    padding-left: 32px;   
}

.form__calc__box__form__btn {
    width: 580px;
    height: 76px;
    border-radius: 38px;
    border: none;
    background-color: #F7752A;
    color: white;
    font-weight: 700;
    font-size: 16px;
    line-height: 120%;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    margin-top: 16px;
}

.form__calc__box__form__btn:hover {
    background-color: #F99155;
    transition: .3s;
}