@media(max-width:900px) {
    .form__calc__box {
        border: 2px solid #F7752A;
        border-radius: 24px;
        padding: 24px;
        width: 628px;
        height: 384px;
        margin: 0 auto; 
        margin-bottom: 72px;  
    }
}

@media(max-width:667px) {
    .form__calc__box {
        width: 100%;
        height: 494px;
        margin: 0 auto;
        margin-bottom: 48px;  
    }

    .form__calc__box__name {
        font-size: 32px;
    }

    .form__calc__box__text {
        width: 98%;
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        padding-bottom: 24px;
    }

    .form__calc__box__form {
        display: flex;
        flex-direction: column;
        gap: 8px;
    }

    .form__calc__box__form__in1,
    .form__calc__box__form__in2 {
        border-radius: 28px;
        width: 100%;
        height: 56px;
        padding-left: 32px;   
        margin-right: 12px;
    }

    .form__calc__box__form__btn {
        width: 100%;
        height: 56px;
        border-radius: 28px;
        margin-top: 0;
    }
    
}