.montages__consultation__calculation__box {
    display: flex;
    justify-content: space-between;
    padding-bottom: 48px;
}

.consultation__box1 {
    border: 2px solid #F7752A;
    border-radius: 24px;
    padding-left: 24px;
    padding-top: 24px;
    padding-right: 23px;
    width: 628px;
    height: 438px;    
}

.form__calc__box2 {
    border: 2px solid #F7752A;
    border-radius: 24px;
    padding-left: 24px;
    padding-top: 24px;
    padding-right: 23px;
    width: 628px;
    height: 384px;
    margin-top: 27px;    
}