.UserReg {
    margin-top: 144px;
}

.UserReg__name {
    text-align: center;
    font-weight: 600;
    font-size: 35px;
    padding-top: 40px;
    padding-bottom: 40px;
}

.UserReg__box {
    max-width: 500px;
    height: auto;
    margin: 0 auto;
    border: 2px solid #eee;
    border-radius: 10px;
    padding: 30px;
    margin-bottom: 50px;
}

.UserReg__box__email, 
.UserReg__box__password,
.UserReg__box__reg1,
.UserReg__box__reg2,
.UserReg__box__reg3,
.UserReg__box__reg4,
.UserReg__box__reg5 {
    display: flex;
    justify-content: space-between;
    position: relative;
}

.UserReg__input__password__open,
.UserReg__input__password__close {
    position: absolute;
    right: 10px;
    top: 7px;
}


.UserReg__box__email__input,
.UserReg__box__password__input, 
.UserReg__box__input__reg__name,
.UserReg__box__input__reg__password1,
.UserReg__box__input__reg__password2,
.UserReg__box__input__reg__email,
.UserReg__box__input__reg__phone {
    width: 277px;
    padding: 10px 15px;
    outline: none;
    border-radius: 5px;
    background: #F6F6F6;
    border: 1px solid #eee;
}

.UserReg__box__email__input_dark,
.UserReg__box__password__input_dark, 
.UserReg__box__input__reg__name_dark,
.UserReg__box__input__reg__password1_dark,
.UserReg__box__input__reg__password2_dark,
.UserReg__box__input__reg__email_dark,
.UserReg__box__input__reg__phone_dark {
    width: 277px;
    padding: 10px 15px;
    outline: none;
    border-radius: 5px;
    background: #3d3939;
    border: 1px solid #eee;
}

.UserReg__box__email__name,
.UserReg__box__password__name,
.UserReg__box__reg1__name, 
.UserReg__box__reg2__name, 
.UserReg__box__reg3__name, 
.UserReg__box__reg4__name, 
.UserReg__box__reg5__name {
    padding-top: 9px;
}

.UserReg__box__email {
    margin-top: 25px;
}

.UserReg__box__password,
.UserReg__box__reg2, 
.UserReg__box__reg4 {
    margin: 25px 0;
}

.UserReg__box__checkBox {
    display: flex;
    column-gap: 10px;
}

.UserReg__box__checkBox__forget {
    padding-top: 2px;
}

.UserReg__box__checkBox__input1 {
    display: none;
}

.UserReg__box__checkBox__input1:checked + .custom__checkbox__basket::before {
    transform: translate(-50%, -50%) scale(1);
}

.UserReg__box__btn {
    width: 100%;
    height: 46px;
    cursor: pointer;
    background-color: #f7752a;
    border-radius: 5px;
    border: none;
    font-weight: 400;
    font-size: 18px;
    color: white;
    margin: 25px 0;
    transition: all .3s ease-out;
}

.UserReg__box__btn:hover {
    background-color: #FF9444;
    box-shadow: 0px 0px 15px 2px rgba(34, 60, 80, 0.2);
}

.UserReg__box__reg {
    text-align: center;
}

.user__entered__name {
    font-weight: 700;
    font-size: 42px;
    line-height: 120%;  
    padding-top: 32px;  
    padding-bottom: 32px;  
}

.user__entered__my {
    font-weight: 600;
    font-size: 20px;
    padding-bottom: 20px;
}

.user__entered__text1,
.user__entered__text2,
.user__entered__text3,
.user__entered__text4 {
    width: 400px;
    display: flex;
    justify-content: space-between;
}

.user__entered__email__text, 
.user__entered__phone__text {
    font-weight: 600;
}

.user__entered__line {
    border: 1px solid #F6F6F6;
    width: 500px;
    margin: 15px 0;
}

.user__entered__btn {
    width: 100px;
    height: 46px;
    cursor: pointer;
    background-color: #f7752a;
    border-radius: 5px;
    border: none;
    font-weight: 400;
    font-size: 18px;
    color: white;
    margin: 25px 0 50px;
    transition: all .3s ease-out;
}

.user__entered__btn:hover {
    background-color: #FF9444;
    box-shadow: 0px 0px 15px 2px rgba(34, 60, 80, 0.2);
}

.input {
    background-color: var(--bg-color);
    color: var(--text-color);
}

