.contact__up__text {
    margin-top: 144px;
}

.contact__up__text__box__to__contact {
    display: flex;
    column-gap: 39px;
    padding-top: 32px;
}

.contact__up__text__box__to__contact__text {
    font-weight: 500;
    font-size: 14px;
    line-height: 114%;
    color: rgba(20, 20, 20, 0.6);   
    padding-top: 4px; 
    position: relative;
}

.contact__up__text__box__to__contact__text::after {
    content: '';
    position: absolute;
    background-image: url(../../AboutUS/AboutUsIMG/aboutstrl.svg);
    width: 7px;
    height: 24px;
    top: -1px;
    right: 84px;
}

.contact__up__text__h1 {
    font-weight: 700;
    font-size: 64px;
    line-height: 120%;   
    padding-top: 32px; 
    padding-bottom: 40px;
}

.contact__up__text__box__text__up {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    padding-bottom: 48px;    
}