.about__us__section4__box {
    width: 846px;
    margin-left: 17%;
    padding-bottom: 72px;
}

.about__us__section4__name {
    font-weight: 700;
    font-size: 40px;
    line-height: 120%;  
    padding-top: 72px;
    padding-bottom: 32px;  
}

.about__us__section4__text1,
.about__us__section4__text2,
.about__us__section4__text3 {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;    
} 

.about__us__section4__text2 {
    padding: 16px 0;
}