.about__us__section3__box {
    width: 846px;
    margin-left: 17%;
}

.about__us__section3__name {
    font-weight: 700;
    font-size: 40px;
    line-height: 120%;  
    padding-top: 72px;
    padding-bottom: 32px;  
}

.about__us__section3__text1,
.about__us__section3__text2, 
.about__us__section3__text3, 
.about__us__section3__text4,
.about__us__section3__text5 {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;    
}

.about__us__section3__text2 {
    padding: 16px 0;
}

.about__us__section3__text4 {
    padding: 16px 0;
}